
header {
    background-color: #333; /* Couleur de fond du header */
    color: #fff; /* Couleur du texte du header */
    padding: 10px;
    width: 100%;
    text-align: center;
}

nav {
    background-color: #f2f2f2; /* Couleur de fond du menu de navigation */
    width: 200px; /* Largeur du menu de navigation */
    height: 100vh; /* Hauteur à 100% de la hauteur de la vue */
    margin-top: 0%;
    /*position: fixed;*/ /* Fixe le menu de navigation à gauche de l'écran */
    top: 0; /* Positionne le menu de navigation en haut de la page */
    left: 0; /* Positionne le menu de navigation tout à gauche de la page */
}

main {
    margin-left: 220px; /* Marge à gauche pour laisser de l'espace au menu de navigation */
    padding: 10px; /* Espace intérieur pour le contenu du site */
}